* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 2%;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.grid-container {
    display: grid;
    justify-content: center;
    background: #111;
    grid-template-columns: repeat(4,85px);
    grid-template-rows: minmax(90px, auto) repeat(5, 85px);
    border: 2px solid #111;
    border-radius: 2rem;
    width: 360px;
    height: 640px;
    padding: 10px 0 10px 0;
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid #111;
    border-radius: 0.5rem;
    width: 74px;
    height: 74px;
    outline: none;
    background-color: #b0b0b0;
    box-shadow:  5px 5px rgba(255,255,255,0.1);
    color: #eee;
}

.grid-container > button:hover {
    background-color: #eee;
    color: #111;
}

.grid-container > .operator {
    background: #659fcf;
}

.grid-container > .equalsB {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    background-color: #659fcf;
    grid-column: span 2;
    width: 158px;
}

.grid-container > .ac {
    background-color: #74cf8d;
    grid-column: span 2;
    width: 158px;
}

.grid-container > .del {
    background-color: #74cf8d;
}

.grid-container > .dot {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0.5rem;
}

.span-two {
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1 / -1;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow:  5px 5px rgba(255,255,255,0.1);
}

.grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.grid-container > .output >  .current-operand {
    color: white;
    font-size: 2.5rem;
}
